* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 
h2,
h1,
p,
label,
input,
button {
 font-family: 'Roboto', sans-serif;
}
 
button {
 cursor: pointer;
}
 
.container {
 background-color: #141533;
}
 
.header {
 padding: 30px;
}
 
.header > img{
 width: 150px;
 height: 66px;
}
 
.main_content {
 margin: 0 auto;
 max-width: 900px;
 border-radius: 10px;
 
 display: flex;
 flex-direction: column;
 background-color: #292a48;
}
 
.form {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 70px 40px;
}
 
.form > h2 {
 font-size: 2rem;
 color: white;
 text-align: center;
}
 
.form > p {
 color: #c4c4c4;
 font-size: 1.125rem;
 text-align: center;
 margin-bottom: 50px;
}
 
.form_label {
 color: white;
 font-weight: 700;
 font-size: 1.125rem;
}
 
.form_input {
 height: 50px;
 border-radius: 8px;
 border: 3px solid transparent;
 outline: none;
 margin-bottom: 20px;
 margin-top: 10px;
 padding: 10px;
 font-size: 1.125rem;
 color: #333;
 transition: 0.2s ease-in-out;
}
 
.form_input::placeholder {
 color: #444;
}
 
.form_input:focus {
 border: 3px solid #3182ce;
}
 
.form_button {
 height: 80px;
 border: 0;
 border-radius: 8px;
 background-color: #44cb4a;
 font-weight: 700;
 font-size: 1.625rem;
 color: white;
 margin-top: 40px;
 transition: 0.2s ease-in-out;
}
 
.form_button:hover {
 background-color: #37a53c;
}